version: '3.8'
services:
  db:
    image: postgres
    restart: always
    environment:      
        - POSTGRES_USER=postgres
        - POSTGRES_PASSWORD=postgres
    ports:
        - '5432:5432'

  app:
    image: python
    working_dir: /app
    volumes: 
      - .:/app
    depends_on:
      - db
    entrypoint: ["python", "main.py"]


  
